[submodule "src/Niles Audio Receiver.indigoPlugin/Contents/Server Plugin/RPFramework"]
	path = src/Niles Audio Receiver.indigoPlugin/Contents/Server Plugin/RPFramework
	url = https://github.com/RogueProeliator/indigo-plugins-rpframework-src
